@font-face {
  font-family: 'NinjaAdventure';
  src: url('/public/Ninja.ttf') format('truetype');
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 50px;
}

.parallax {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Ensure the parallax is behind other content */
}

.layer {
  position: absolute;
  width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
  background-repeat: no-repeat;
  background-size: cover; /* Make the background image cover the entire div */
}

@keyframes slide {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


.sky {
}

.clouds-front {
  animation: slide 30s linear infinite;
}

.clouds-mid {
  animation: slide 40s linear infinite;
}

.clouds-mid-tc {
  animation: slide 40s linear infinite;
}

.clouds-front-tc {
  animation: slide 30s linear infinite;
}

.far-mountains {
  animation: slide 50s linear infinite;
}

.grassy-mountains {

}

.hill {
  /* No animation for the hill */
}


.secondary-text {
  font-size: 30px;
  font-family: 'NinjaAdventure', sans-serif;
  color: black;
  margin: 0;
  font-style: italic;
}

.main-text {
  font-family: 'NinjaAdventure', sans-serif;
  font-size: 100px;
  text-align: center;
  margin: 0;
  color: gold;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;

}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item a {
  color: black;
  font-family: 'redonda', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 10px;
}

.container {
  background-size: contain;
  background-position: top;
  width: 470px;
  background-repeat: no-repeat;
  height: 495px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

form {
  width: 300px;
}

.form-group.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-group button {
  background: #073336 !important;
  color: white !important;
  font-family: 'NinjaAdventure', sans-serif;
  font-size: 15px !important;
  padding: 5px !important;
  width: 100% !important;
  border-radius: 5px !important;
}

.mobile-warning {
  background-color: rgba(0, 0, 0, 0.917);
  padding: 15px;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: black;
  font-family: 'redonda', sans-serif;
  cursor: pointer;
  font-weight: 500;
}

.form-group button:hover {
  background: #066B72 !important;
  color: white !important;
}

input {
  border-radius: 5px !important;
  border: 2px solid #724800 !important;
  padding: 5px !important;
  width: 100% !important;
  background: #ffe396 !important;
  height: 30px;
  font-family: 'redonda', sans-serif;
  font-size: 1.25em;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

label {
  font-family: 'NinjaAdventure', sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text-center {
color: black;
font-size: 45px;
}

h1,p,strong,h2 {
  color: white;
}

.cardp4 {
  background: dodgerblue !important;
  padding: 5em;
  border-radius: 5px;
}

h1, h2 {
  font-family: 'NinjaAdventure', sans-serif;
  font-size: 20px;
  margin-bottom: 0;
}

.form-group {

  margin-bottom: 10px;
}

h2 {
  font-size: 15px;
  margin-top: 0;
  font-weight: 300;
}

p {
  font-family: 'redonda', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
}

#copyright {
  font-size: 10px;
}

#version {
  margin:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  margin: 10px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 20px;
}

.quantity {
  color: black;
  font-weight: 500;
}

.inventory-item {
  width: 20px;
  height: 20px;
  background-color: burlywood;
  padding: 15px;
}
