.App {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: "bitcount-mono-single-square", sans-serif !important;

}

h1 {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#phaser-game {
  font-family: "bitcount-mono-single-square", sans-serif;
}


.quantity {
  color: black;
  font-weight: 500;
}

.inventory-item {
  width: 20px;
  height: 20px;
  background-color: burlywood;
  padding: 15px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
